.px-1 {
    padding-inline: 10px;
}

.px-2 {
    padding-inline: 20px;
}

.px-3 {
    padding-inline: 30px;
}

.px-4 {
    padding-inline: 40px;
}

.px-5 {
    padding-inline: 50px;
}

.py-1 {
    padding-block: 10px;
}

.py-2 {
    padding-block: 20px;
}

.py-3 {
    padding-block: 30px;
}

.py-4 {
    padding-block: 40px;
}

.py-5 {
    padding-block: 50px;
}