.md-layout-button {
    display: flex;
    align-content: flex-end;
    justify-content: end;
    margin-bottom: 36px;
    margin-right: 36px;
  }
  .md-alignment-center {
    align-items: initial !important;
  }
  
  .border {
    border-right: 1px solid #e1e1e1 !important;
  }
  
  span {
    color: #929292 !important;
  }